* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
}

#main {
    background-image: url(./images/travel-image.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 70%;
    font-weight: bolder;
}

label {
    font-size: larger;
    color: black;
    font-weight: bold;
}

p {
    font-size: x-large;
    padding: 15px;
}

#site-title {
    color: brown;
}

nav {
    width: 100%;
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form {
    background-color: aquamarine;
    width: fit-content;
    border: 2px dotted black;
    align-content: center;
    text-align: center;
    padding: 30px;
    margin: auto;
}

#social-img {
    display: flex;
    justify-content: center;
    margin: auto;
    clear: both;
}

img {
    max-width: 175px;
    max-height: 175px;
}

.beach-imgs {
    display: flex;
    flex-flow: row;
}

.temple-imgs {
    display: flex;
    flex-flow: row;
}

section img {
    max-width: 400px;
    max-height: 600px;
}

figcaption {
    position: relative;
}

#search-btn {
    padding: 2px;
    font-size: 0.15em;
    background-color: wheat;
}
#search-btn:hover {
    cursor: pointer;
}

#home_page {
    
    min-height: fit-content;
    margin: 50px;
    color: chocolate;
}
#about_page {
    
    min-height: 800px;
    margin: 50px;
    color: chocolate;
}
#contact_page {
    
    min-height: 800px;
    margin: 50px;
    color: chocolate;
}

#mentions {
    color:grey;
    font-style: italic;
}

#recommendations {
    color: chocolate;
    font-weight: bolder;
    padding: 25px;
}

footer {
    background-color: black;
    width: 100%;
    min-height: 100px;
    color: chocolate;
    padding: 10px 50px;
}